.s-grade-labirinto {
    width: 40px;
    height: 40px;
    background-color: gray;
    margin: 5px;
    box-shadow: 1px 3px 4px 0px;
}

.o-quebra-coluna {
    display: flex;
}

.o-tela-principal {
    padding: 20px;
}

.o-p20 {
    padding: 20px;
}

.o-w100 {
    width: 100%;
}

.o-vermelha {
    -webkit-transition: background-color ease-in 0.2s;
    transition: background-color ease-in 0.2s;
    background-color: red;
}

.o-azul {
    -webkit-transition: background-color ease-in 0.2s;
    transition: background-color ease-in 0.2s;
    background-color: blue;
}

.o-preta {
    -webkit-transition: background-color ease-in 0.2s;
    transition: background-color ease-in 0.2s;
    background-color: black;
}

.o-amarela {
    -webkit-transition: background-color ease-in 0.2s;
    transition: background-color ease-in 0.2s;
    background-color: yellowgreen;
}